@model IEnumerable<Doska.Models.Ads>

@{
    ViewData["Title"] = "ViewAds";
}

<h1>ViewAds</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCatalog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdsText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdsCreate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCatalog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCustomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdsText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdsCreate)
                </td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>
