@model Doska.Models.Ads

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ads</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCatalog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCatalog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdsText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdsText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdsCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdsCreate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
